/* Insert your styles here */

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;	
	font-family: 'Playfair Display', serif;
}

body{
	background: #aebebe;
max-width: 1280px;
margin-left: auto;
margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Michroma', sans-serif;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* h1{
	animation-name: example;
	animation-duration: 2s;	
}

/* @keyframes example{
	from {opacity: 0;}
	to {opacity: 1;}
} */

header{
	text-align: center;	
	margin: 20px;
	/* background: #becebe; */ 
	margin: 0;
	padding-bottom: 20px;
	background-image: radial-gradient(#ffFF97, #becebe);
}

h1{
	font-size: 3em;
}

header h1+h1{
	font-size: 2em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.2em;
}

h2+h2{
	font-size: 1.1em;
}

header img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;	
	max-width: 200px;
}

nav{
	display: block;
	position: sticky;
	top: 0px;
	background: #343434;
	min-width: 690px; /* correct size? */
	border-left: 1px solid #343434;
}

/* nav{
	animation-name: example;
	animation-duration: 2s;	
}

@keyframes example{
	0% {transform: translateX(-1000px);}
	100% {transform: translateX(0px);}
} */

/* Selects adjacent sibling (subnav) */
nav+nav{
	top: 40px;
	background: #445454;
}

nav li{
	float: left;
	margin-left: auto;
	margin-right: auto;
}

nav a{
	display: inline-block;
	padding: 10px 40px;
}

nav a:link, nav a:visited{
	color: #ffffff;
	text-decoration: none;
}

nav a:hover, nav a:active{
	color: #000000;
	background-color: #ffffff;
}

ul{
	list-style-type: none;	
	overflow: hidden;
	padding: 0;
}

.current-page{
	background-color: #bebebe;
	color: #000000 !important;
	border-top: 1px solid #343434;
	border-bottom: 1px solid #343434;
}

main{
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: 40px;
	margin-right: 40px;
}

main a{
	display: block;
	line-height: 2em;
	width: 50%;
	transition: background-color, color;
	transition-duration: 0.7s;
}

main a:link, main a:visited{
	color: #000000;
	text-decoration: underline;
}

main a:hover, main a:active{
	color: #FFFFFF;
	background-color: #123456;
	text-decoration: none;
}

.background-image{
	height: 543px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	background-size: contain;

}

#image-1{
	background-image: url("../../media/road-making-party.jpg");
}

#image-2{
	background-image: url("../../media/dug-outs-at-gaba-tepe.jpg");
}

#image-3{
	background-image: url("../../media/anzac-cove.jpg");
}

p{
	margin-bottom: 30px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

p:last-child{
	margin-bottom: 70px; /* what to do about this?*/
}

dl{
	column-count: 2;	
}

dt{
	font-style: italic;
	font-weight: bold;
}
dd{
	text-indent: 20px;
}

article li{
	margin-top: 30px;
	margin-bottom: 30px;
}


.post-card div, .letter div{
	font-family: 'Homemade Apple', cursive;
	border: 1px black solid;
	width: 800px;
	margin: auto;
	padding: 10px;
	/* background: #ffd; */
	background-image: url("../../media/grunge-vintage-old-paper-background.jpg");
	/* <a href='https://www.freepik.com/photos/background'>Background photo created by aopsan - www.freepik.com</a>
	https://www.freepik.com/free-photo/grunge-vintage-old-paper-background_1273370.htm#page=1&query=old%20paper&position=0 */
}

.post-card div h5, .post-card div p, .letter div h5, .letter div p{
	font-family: 'Homemade Apple', cursive;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
}

.post-card div p+p, .letter div p+p{
	text-align: left;
}

.post-card div p+p{
	column-count: 2;
}

.post-card div p+p+p, .letter div p+p+p{
	text-align: center;
	column-count: 1;
}

fieldset{
	padding: 20px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}
form label{
	display: inline-block;
	width: 130px;
	/* align-content: first; */
	padding: 5px;
}

input[type='checkbox']{
	width: auto;
	margin-left: 132px;
}

form input{
	width: 227px;
	border-radius: 5px;
	font-size: 105%;
	margin-top: 10px;
}

form textarea{
	width: 227px;
	height: 200px;
	border-radius: 5px;
	vertical-align: top;
	margin-top: 5px;
	font-size: 105%;
}

input[type='submit']{
	padding: 10px 20px 10px 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 1px 1px #000000;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 0;
	background: #343434;
	color: white;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
	margin-left: 0;
}

footer div{
	line-height: 2.4em;
}

footer a{
	color: #ffffff;
}
	
	
@media screen and (max-width: 600px) {
	/* Parallax effect doesn't work on iOS */
	.background-image{
		background-attachment: local;
		/* width: 346px; */
		width: 100%;
		height: 400px;
		/* height: 256px; */
		/* margin-top: 20px;
		margin-bottom: 20px; */
	}
	
	nav a{
		padding: 10px 20px 10px 20px;
	}
	dl{
		column-count: 1;
	}
	
	footer div{
		line-height: 1.9em;
	}
	
	*{
		font-size:95%;
	}
}