/* Insert your styles here */

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;	
	font-family: 'Playfair Display', serif;
}

body{
	background: #aebebe;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Michroma', sans-serif;
}

/* h1{
	animation-name: example;
	animation-duration: 5s;	
}

@keyframes example{
	from {opacity: 0;}
	to {opacity: 1;}
} */

header{
	text-align: center;	
	margin: 20px;
}

h1{
	font-size: 3em;
}

header h1+h1{
	font-size: 2em;
}

h2{
	font-size: 2em;
}

h3, h4{
	font-size: 1.5em;
}

h2+h2{
	font-size: 1.1em;
}

header img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;	
	max-width: 200px;
}

nav{
	display: block;
	position: sticky;
	top: 0px;
	background: #343434;
	min-width: 690px; /* correct size? */
}

/* Selects adjacent sibling (subnav) */
nav+nav{
	top: 40px;
	background: #445454;
}

nav li{
	float: left;
	margin-left: auto;
	margin-right: auto;
}

nav a{
	display: inline-block;
	padding: 10px 40px;
}

nav a:link, nav a:visited{
	color: #ffffff;
	text-decoration: none;
}

nav a:hover, nav a:active{
	color: #000000;
	background-color: #ffffff;
}

ul{
	list-style-type: none;	
	overflow: hidden;
	padding: 0;
}

.current-page{
	background-color: #bebebe;
	color: #000000 !important;
	border-top: 1px solid #343434;
	border-bottom: 1px solid #343434;
}

main{
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: 40px;
	margin-right: 40px;
}

.background-image{
	background-image: url("../../media/road-making-party.jpg");
	height: 643px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}



p{
	margin-bottom: 30px;
}

p:last-child{
	margin-bottom: 70px; /* what to do about this?*/
}

dt{
	font-style: italic;
}
dd{
	text-indent: 20px;
}

.post-card p{
	column-count: 2;
}

.post-card p, .letter p{
	font-family: 'Homemade Apple', cursive;
	border: 1px black solid;
	width:800px;
	margin: auto;
	padding: 10px;
	/* background: #ffd; */
	background-image: url("../../media/grunge-vintage-old-paper-background.jpg");
	/* <a href='https://www.freepik.com/photos/background'>Background photo created by aopsan - www.freepik.com</a>
	https://www.freepik.com/free-photo/grunge-vintage-old-paper-background_1273370.htm#page=1&query=old%20paper&position=0 */
}

form label{
	display: inline-block;
	width: 110px;
	align-content: first;
}

form input{
	width: 200px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 0;
	background: #343434;
	color: white;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
}

footer a{
	color: #ffffff;
}
	